<link href="/public/css/tags.css" type="text/css" rel="stylesheet"/>
<%- partial('headline',{headerNav:"我的博客",headerContent:"网站还在搭建测试阶段，还不支持评论，" +
        "会先发布一些以前积累的博客。后面会写一些系列性文章，主要为了巩固旧知识，学习新知识和回顾自己做过的一些项目。" +
        "现在构思的系列有《javascript和java设计模式对比实现系列》，《个人小项目讲解系列》，" +
        "《正则表达式系列（基于js讲解）》《HTML5系列（着重canvas编程）》"})%>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1><%= topic.title%></h1>
                        </div>
                    </div>
                    <div class="row" id="myEdit" style="display: none">

                        <div class="col-lg-12">
                            <form action="/blog/edit" id="editForm" method="post">
                               <input type="hidden" name="topicId"/>
                               <a href="/blog/edit/<%=topic._id%>">编辑</a>
                               <button id="delete">删除</button>
                               <button id="toTop">置顶</button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <span style="padding: 2px 10px">标签:</span>
                                <%
                                for (var i =0,length = topic_tags.length;i<length;i++){
                                    var tag = topic_tags[i];
                                %>
                                <span class='tag_info' tag_id='<%= tag._id %>'>
                                              <%= tag.name %>
                                </span>
                                <% } %>
                            </div>
                        </div>
                    <div class="row">
                        <hr>
                        <div class="col-lg-12">
                           <div id="myTopic">
                                  <%- topic.content %>
                           </div>
                        </div>
                    </div>
            </div>
            <div class="col-lg-4">
                <!-- 这里不传all_tags为什么partial中接收不到index中的后台数据-->
                <%- partial('/topic/slider',{all_tags:all_tags,hot_topics:hot_topics}) %>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function(){
       $(document.body).on("keydown",function(e){
           if(e.which == 88&& e.ctrlKey&& e.shiftKey){
               console.log('in');
               $("#myEdit").show();
           }
       });
        $("#edit").click(function(){
            window.location.href='/blog/edit/<%=topic._id%>';//window.location.href会忽略掉后面的topic._id很奇怪TODO
        });
    });
</script>