<link href="/public/javascripts/libs/ckeditor/contents.css" type="text/css" rel="stylesheet"/>
<script src="/public/javascripts/libs/ckeditor/ckeditor.js" type="text/javascript"></script>
<%- partial('headline',{headerNav:"我的博客",headerContent:"前端宣言"})%>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <%= topic.title%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                                <% for (var i =0,length = topic_tags.length;i<length;i++){
                                    var tag = topic_tags[i];
                                        if(tag.is_selected){ %>
                                <span class='tag_selectable tag_select' tag_id='<%= tag._id %>'>
                                              <%= tag.name %>
                                            </span>
                                <% }else{ %>
                                <span class='tag_selectable' tag_id='<%= tag._id %>'>
                                                <%= tag.name %>
                                            </span>
                                <% } %>
                                <% }%>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-lg-12">
                           <div>
                              <%- topic.content %>
                           </div>
                        </div>
                    </div>
            </div>
            <div class="col-lg-4">
                <!-- 这里不传all_tags为什么partial中接收不到index中的后台数据-->
                <%- partial('/topic/slider',{all_tags:all_tags}) %>
            </div>
        </div>
    </div>
</section>