<%- partial('headline',{headerNav:"我的博客",headerContent:"网站还在搭建测试阶段，还不支持评论，" +
        "会先发布一些以前积累的博客。后面会写一些系列性文章，主要为了巩固旧知识，学习新知识和回顾自己做过的一些项目。" +
        "现在构思的系列有《javascript和java设计模式对比实现系列》，《个人小项目讲解系列》，" +
        "《正则表达式系列（基于js讲解）》《HTML5系列（着重canvas编程）》"})%>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <% for(var i = 0 ;i < topics.length ; i++){%>
                <% var topic = topics[i];%>
                <article>
                    <div class="post-quote">
                        <div class="post-heading">
                            <h1><a href="/blog/topic/<%= topic._id%>"><%= topic.title %></a></h1>
                        </div>

                    </div>
                    <div class="bottom-article">
                        <ul class="meta-post">
                            <li><i class="icon-user"></i> xu</li>
                            <li><i class="icon-calendar"></i><%= topic.create_at%></li>
                            <li><i class="icon-calendar"></i>浏览次数：<%= topic.visit_count%></li>
                        </ul>
                    </div>
                </article>
                <%}%>

                <div id="pagination">
                    <span class="all">Page <%= current_page %> of <%= pages %> </span>
                    <!-- 三目运算符优先级低-->
                    <% var baseUrl = base + (base.indexOf('?') < 0 ? '?':'&') + 'page='%>
                    <% if(current_page == 1){%>
                        <span>«</span>
                    <% } else { %>
                        <a href="<%= baseUrl+1%>" class="inactive">«</a>
                    <% }%>

                    <%

                        var page_start = current_page-2 > 0 ? current_page - 2 : 1;
                        //保持最后也显示5页的对称性
                        var page_end = page_start + 4 > pages ? (page_start =(pages - 4>0 ? pages-4 : 1),pages) :page_start + 4;
                    %>
                    <% if(page_start > 1){ %>
                        <span>...</span>
                    <% } %>
                    <% for(var i = page_start ; i <= page_end ; i++){ %>
                        <% if(current_page==i){ %>
                            <span class="current"><%= i %></span>
                        <% }else { %>
                            <a href="<%= baseUrl+i %>" class="inactive"><%= i %></a>
                        <% } %>

                    <% } %>
                    <% if (page_end < pages ) { %>
                        <span>...</span>
                    <% } %>
                    <% if (current_page == pages) { %>
                        <span>»</span>
                    <% } else { %>
                        <a href="<%= baseUrl+pages%>" class="inactive">»</a>
                    <% } %>

                    <span class="all">跳转到</span>
                    <input type="text" id="page" style="width:40px;height:20px;padding:0"/>
                    页
                    <input id="jump" type="button" value="go" />

                </div>
            </div>
            <div class="col-lg-4">
                <%- partial('slider',{all_tags:all_tags}) %>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $("#jump").click(function(){
            var page = $("#page").val();

            window.location.href = '<%=baseUrl%>'+page;
        });

        /*
        $.get('/blog'+'?'+page,function(data){
            console.log(data);
        },'html');
        */

    });
</script>